@import url("../common/style.css");

.container-fluid {
    height: 100vh;
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.main-content {
    width: 100%;
    flex: 1;
}

.auth-wrapper .row {
    margin-left: 0;
    margin-right: 0;
}

.hidden {
    display: none !important;
}

/* Desktop view styles */
@media (min-width: 768px) {
    #left-content,
    #right-content {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    .login-content,
    .register-content {
        display: flex;
        flex-direction: column;;
        align-items: center;
        padding: 2rem;
        background-color: var(--primary-color);
        color: var(--secondary-color);
    }

    .register-info,
    .login-info {
        color: var(--secondary-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
