@import url("../common/style.css");

body {
    background: var(--primary-color);
}

.auth-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.row {
    height: 100vh;
    width: 100%;
    padding: 0;
}

/* Active form panels */
.title-content h1 {
    font-weight: bold;
    font-size: 8rem;
    color: var(--primary-color);
}

.login-content,
.register-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: var(--primary-color);
    color:#fff
}

#left-content,
#right-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-content img {
    width: 16rem;
    height: 20rem;
}

.login-info,
.register-info {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center
}

#showAdminRegister:hover,
#showStaffRegister:hover {
    color: var(--tertiary-color);
}

/* Responsive Design */
@media (max-width: 768px) {
    .title-content h1 {
        font-weight: bold;
        font-size: 3rem;
        color: var(--primary-color);
    }
}

.hidden {
    display: none !important;
}
