{% extends "core/index.html" %}
{% load crispy_forms_tags %}
{% load bootstrap_icons %}
{% load static %}


{% block title %}
  Add Playlist Item
{% endblock %}


{% block extra_css %}
  {{ block.super }}
  <link rel="preload" href="{% static 'css/playlist/add_playlist_item.css' %}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{% static 'css/playlist/add_playlist_item.css' %}"></noscript>
{% endblock %}


{% block app_content %}
  <div class="container-fluid w-100">
    <div class="breadcrumb-content mb-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">{% bs_icon 'house' size='1em' %}&nbsp;<small>Dashboard</small></li>
          <!-- Previous Page -->
          <li class="breadcrumb-item active" aria-current="page">
            <small>Playlist item</small>
          </li>
          <!-- Current Page -->
          <li class="breadcrumb-item active" aria-current="page">
            <small>Add Playlist Item</small>
          </li>
        </ol>
      </nav>
    </div>
    <div class="add-playlist-item-wrapper">
      <div class="form-heading mb-3">
        <h3>add playlist item</h3>
      </div>
      <div class="form-wrapper">
        <form action="{% url 'add_playlist_item' playlist.id %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{form|crispy}}
          <button type="submit" class="btn btn-primary">
            Add Playlist Item
          </button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
