{% extends "core/index.html" %}
{% load crispy_forms_tags %}
{% load bootstrap_icons %}
{% load static %}


{% block title %}
  Playlist
{% endblock %}


{% block extra_css %}
  {{ block.super }}
  <link rel="preload" href="{% static 'css/playlist/playlist_list.css' %}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{% static 'css/playlist/playlist_list.css' %}"></noscript>
{% endblock %}


{% block app_content %}
  <div class="container-fluid w-100">
    <div class="breadcrumb-content mb-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">{% bs_icon 'house' size='1em' %}&nbsp;<small>Dashboard</small></li>
          <!-- Current Page -->
          <li class="breadcrumb-item active" aria-current="page">
            <small>Playlist List</small>
          </li>
        </ol>
      </nav>
    </div>
    <div class="media-content-wrapper">
      <div class="header-content mb-3">
        <div class="content-title">
          <h3>Playlist</h3>
        </div>
        <div class="add_content_link">
          <p class="mb-0">To add a playlist</p>&nbsp;<a class="btn btn-primary" href="{% url 'add_playlist' %}">{% bs_icon 'plus' size='1em' %}&nbsp;Add Playlist</a>
        </div>
      </div>
      <div class="playlist-content table-responsive">
        <table class="table table-bordered">
            <thead class="table-danger">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Created By</th>
                    <th scope="col">Is Active</th>
                </tr>
            </thead>
            <tbody>
                {% if playlists %}
                    {% for p in playlists %}
                        <tr>
                            <td>{{p.name}}</td>
                            <td>{{p.description}}</td>
                            <td>{{p.created_by}}</td>
                            <td>{{p.is_active}}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                <tr>
                    <td colspan="100%">No playlist!</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}