{% extends "core/index.html" %}
{% load bootstrap_icons %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
  Broadcasts
{% endblock %}


{% block extra_css %}
  {{ block.super }}
  <link
    rel="preload"
    href="{% static 'css/broadcasting/broadcast.css' %}"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
  >
  <noscript><link rel="stylesheet" href="{% static 'css/broadcasting/broadcast.css' %}"></noscript>
{% endblock %}


{% block app_content %}
  <div class="container-fluid w-100">
    <div class="breadcrumb-content mb-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            {% if request.user.role == 'ADMIN' %}
              <a href="{% url 'admin_dashboard' %}">
                {% bs_icon 'house' size='1em' %}&nbsp;<small>Dashboard</small>
              </a>
            {% elif request.user.role == 'STAFF' %}
              <a href="{% url 'staff_dashboard' %}">
                {% bs_icon 'house' size='1em' %}&nbsp;<small>Dashboard</small>
              </a>
            {% endif %}
          </li>
          <li class="breadcrumb-item"><small>Broadcasts</small></li>
        </ol>
      </nav>
    </div>

    <div class="mb-4">
      <h3 class="text-uppercase">Play On Device</h3>
      <div class="card mb-4">
        <div class="card-body">
          <form method="post" id="playbackForm">
            {% csrf_token %}
            {{ playback_form|crispy }}
            <button type="submit" class="btn btn-primary">Send Play Command</button>
          </form>
        </div>
      </div>
      <div class="all-broadcast-link">
        <a class="btn btn-primary" href="{% url 'all_broadcasts' %}">View All Broadcast Sessions</a>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const blockField =
        document.getElementById("id_block");

      const floorField =
        document.getElementById("id_floor");

      const form =
        document.getElementById(
          "playbackForm"
        );

      if (blockField) {
        blockField.addEventListener(
          "change",
          function () {
            form.submit();
          }
        );
      }

      if (floorField) {
        floorField.addEventListener(
          "change",
          function () {
            form.submit();
          }
        );
      }
    });
  </script>
{% endblock %}