{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="home-wrapper">
        <div class="top-content">
            <h1>MedStream</h1>
            <p></p>
        </div>
        <div class="bottom-content">
            <p>For registration and login please</p><a href="{% url 'login' %}">click here.</a>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/core/home.css' %}">
{% endblock %}
