{% extends 'core/base.html' %}
{% load static %}

{% block content %}

    <div class="container-fluid p-0">
        <div class="home-wrapper">
            <div class="top-content">
                <h1>MedStream</h1>
                <p>Powering Real-Time Hospital Communication</p>
            </div>
            <div class="bottom-content d-flex align-items-center gap-2">
                <p class="mb-0">To continue please</p><a class="login-link" href="{% url 'login' %}">click here.</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
    <link rel="preload" href="{% static 'css/core/home.css' %}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{% static 'css/core/home.css' %}"></noscript>
{% endblock %}
