{% extends 'core/base.html' %}
{% load static %}

{% block extra_css %}
    <link
        rel="preload"
        href="{% static 'css/core/index.css' %}"
        as="style"
        onload="this.onload=null;this.rel='stylesheet'"
    >
    <noscript><link rel="stylesheet" href="{% static 'css/core/index.css' %}"></noscript>
    <link
        rel="preload"
        href="{% static 'css/core/sidebar.css' %}"
        as="style"
        onload="this.onload=null;this.rel='stylesheet'"
    >
    <noscript><link rel="stylesheet" href="{% static 'css/core/sidebar.css' %}"></noscript>
{% endblock %}

{% block content %}
    <div class="layout-wrapper">
        <div class="sidebar-wrapper">
            {% include 'core/sidebar.html' %}
        </div>
        <div class="main-content">
            {% block app_content %}{% endblock %}
        </div>
    </div>
{% endblock %}

