{% load static %}
{% load bootstrap_icons %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/core/sidebar.css' %}">
{% endblock %}

<aside class="app-sidebar" id="sidebar">
    <div class="sidebar-top">
        <div class="toggle-wrapper">
            <!--Collapse icon-->
            <button
                type="button"
                id="collapseSidebar"
                class="toggle-btn"
            >
                {% bs_icon 'layout-sidebar-reverse' size='1em' color='#ffffff' %}
            </button>
            <!--Expand icon-->
            <button
                type="button"
                id="expandSidebar"
                class="toggle-btn hidden"
            >
                {% bs_icon 'layout-sidebar' size='1em' color='#ffffff' %}
            </button>
        </div>
        <div class="brand-name">
            <h5 class="mb-0">MedStream</h5>
        </div>
    </div>
    <nav class="sidebar-menu" aria-label="Primary navigation">
        {% for item in menu_items %}
            <a class="menu-item" href="{{ item.menu_link }}">
                <span class="menu-icon" aria-hidden="true">{% bs_icon item.icon size='1em' %}</span>
                <span class="menu-name">{{ item.menu_name }}</span>
            </a>
        {% endfor %}
    </nav>
    <div class="sidebar-bottom">
        <div class="toggle-wrapper">
                <!--Logout icon-->
            <button
                type="button"
                id="logoutButton"
                class="toggle-btn"
            >
                {% bs_icon 'box-arrow-right' size='1em' color='#ffffff' %}
            </button>
        </div>
        <div class="logout-label">
            <a href="{% url 'logout' %}">Logout</a>
        </div>
    </div>
</aside>


{% block extra_js %}
    <script src="{% static 'js/core/sidebar.js' %}"></script>
{% endblock %}