{% extends "core/index.html" %}
{% load static %}
{% load bootstrap_icons %}

{% block title %}
  Dashboard
{% endblock %}

{% block extra_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/dashboard/admin_style.css' %}">
{% endblock %}

{% block app_content %}
  <div class="dashboard-wrapper">
    <div class="breadcrumb-content">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">{% bs_icon 'house' size='1em' %}&nbsp;<small>Dashboard</small></li>
        </ol>
      </nav>
    </div>
    <div class="dashboard-content">
      <div class="welcome-content">
        <h3>welcome</h3>
      </div>
      <div class="dashboard-card">
        <div class="card">

        </div>
      </div>
    </div>
  </div>
{% endblock %}
