{% extends "core/index.html" %}
{% load crispy_forms_tags %}
{% load bootstrap_icons %}
{% load static %}


{% block title %}
  Media List
{% endblock %}


{% block extra_css %}
  {{ block.super }}
  <link rel="preload" href="{% static 'css/medias/media_list.css' %}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{% static 'css/medias/media_list.css' %}"></noscript>
{% endblock %}


{% block app_content %}
  <div class="container-fluid w-100">
    <div class="breadcrumb-content mb-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">{% bs_icon 'house' size='1em' %}&nbsp;<small>Dashboard</small></li>
          <!-- Current Page -->
          <li class="breadcrumb-item active" aria-current="page">
            <small>Media List</small>
          </li>
        </ol>
      </nav>
    </div>
    <div class="media-content-wrapper">
      <div class="header-content mb-3">
        <div class="content-title">
          <h3>media</h3>
        </div>
        <div class="add_content_link">
          <p class="mb-0">To add a media</p>&nbsp;<a class="btn btn-primary" href="{% url 'add_media' %}">{% bs_icon 'plus' size='1em' %}&nbsp;Add Media</a>
        </div>
      </div>
      <div class="media-content table-responsive">
        <table class="table table-bordered">
          <thead class="table-danger">
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Description</th>
              <th scope="col">Media</th>
              <th scope="col">File</th>
              <th scope="col">Thumbnail</th>
              <th scope="col">Tags</th>
              <th scope="col">Uploaded By</th>
              <th scope="col">Is Active</th>
              <th scope="col">Is Public</th>
            </tr>
          </thead>
          <tbody class="table-info">
            {% if media %}
              {% for m in media %}
                <tr>
                  <td>{{m.title}}</td>
                  <td>{{m.description}}</td>
                  <td>{{m.media_type}}</td>
                  <td>{{m.file}}</td>
                  <td>{{m.thumbnail}}</td>
                  <td>{{m.tags}}</td>
                  <td>{{m.uploaded_by}}</td>
                  <td>{{m.is_active}}</td>
                  <td>{{m.is_public}}</td>
                </tr>
              {% endfor %}
            {% else %}
              <tr>
                <td colspan="100%">No medias have been added yet!</td>
              </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}