
.app-sidebar {
    background-color: var(--primary-color);
    display: flex;
    height: 100vh;
    flex-direction: column;
    overflow-y: auto;
    width: 220px;
    transition: width 0.3s ease;
}

.app-sidebar.collapsed {
    width: 60px;
}

.app-sidebar.collapsed .menu-name,
.app-sidebar.collapsed .brand-name,
.app-sidebar.collapsed .logout-label {
    display: none;
}

.app-sidebar.collapsed .sidebar-top,
.app-sidebar.collapsed .sidebar-bottom,
.app-sidebar.collapsed .menu-item {
    justify-content: center;
}

.hidden {
    display: none;
}

.toggle-btn {
    background-color: transparent;
    border: none;
}

.sidebar-top,
.sidebar-bottom {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 3rem;
}

.toggle-wrapper button {
    width: 2rem;
    height: 2rem;
}

.menu-item {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: start;
}

.menu-item .menu-icon {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item:hover {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
}

.sidebar-menu a {
    text-decoration: none;
    color: var(--secondary-color);
}

.menu-group button {
    background: transparent !important;
    color: var(--secondary-color);
    border: none !important;
}

.submenu a {
    justify-content: start;
    gap: 0.5rem;
}

.submenu a:hover {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
}

.brand-name {
    color: var(--secondary-color);
    font-weight: bold;
}

.sidebar-bottom {
    margin-top: auto;
}

.logout-label a {
    text-decoration: none;
    color: var(--secondary-color);
}
